<h1>All Items for <%= current_user.name %></h1>
<% @items.each do |item| %>
  <div class="media">
    <div class="media-body">
      <div class="media-heading">
        <%= link_to item.title, [item.user, item] %>
        <p>Time Remaining <%= item.remaining_time %> days</p>
      </div>
    </div>
  </div>
<% end %>

